<div>
    <div class="ftpLabel" data-bind="text: resx.tree"></div>
    <div data-bind="visible: trees().length > 0">
        <span data-bind="text: treeName, visible: trees().length == 1"></span>
        <select data-bind="options: trees, optionsText: 'name', optionsValue: 'treeId', value: treeId, valueAllowUnset: true, visible: trees().length > 1"></select>
    </div>
    <div class="ftpButtons">
        <a class="ftpButton" data-bind="click: uploadTree">
            <i class="fa fa-upload"></i>
            <span data-bind="text: resx.uploadTree"></span>
        </a>
        <a class="ftpButton" data-bind="click: addTree">
            <i class="fa fa-plus"></i>
            <span data-bind="text: resx.createTree"></span>
        </a>
    </div>
</div>

<!-- ko component: {
        name: "editTree",
        params: { treeId: ko.observable(-1),
            isVisible: showCreate,
            dialogTitle: resx.createTree,
            newTreeId: treeId ,
            onSuccess: onTreeCreated
        }
    } -->
<!-- /ko -->
<!-- ko component: {
        name: "uploadFile",
        params: { isVisible: showUpload,
            title: resx.uploadTree,
            message: resx.uploadTreeMessage,
            entityId: treeId ,
            onSuccess: onTreeUploaded,
            options: {
                fileUploadMethod: 'Tree/UploadTree',
                extensions: ['ged'],
                width: 600,
                height:550
            }
        }
    } -->
<!-- /ko -->