<!-- ko if: !isNull() -->
    <div class="row ftp-card" data-bind="click: selectIndividual">
        <div class="col-md-2">
            <img data-bind="attr: {src: imageUrl}" />
        </div>
        <div class="col-md-10">
            <div data-bind="text: name"></div>
            <div data-bind="text: lived"></div>
        </div>
    </div>
<!-- /ko -->
<!-- ko if: isNull() -->
    <div>
        <div>
            <div>
                <img data-bind="attr: {src: imageUrl}" />
            </div>
            <div>
                <i class="fa fa-plus-circle"></i>
                <span data-bind="text: addParent"></span>
            </div>
        </div>
    </div>
<!-- /ko -->

