<!-- ko if: !isNull() -->
    <div class="ftpCard" data-bind="click: selectIndividual">
        <div>
            <div class="ftpImage">
                <img data-bind="attr: {src: imageUrl}"/>
            </div>
            <div class="ftpTitle" data-bind="text: name"></div>
            <div>
                <div class="ftpNormal" data-bind="text: lived"></div>
            </div>
        </div>
    </div>
<!-- /ko -->
<!-- ko if: isNull() -->
    <div class="ftpCard ftpAdd">
        <div>
            <div class="ftpImage">
                <img data-bind="attr: {src: imageUrl}" />
            </div>
            <div class="ftpTitle" >
                <i class="fa fa-plus-circle"></i>
                <span data-bind="text: addParent"></span>
            </div>
        </div>
    </div>
<!-- /ko -->

