<tr>
    <td data-bind="event: { mouseover: toggleSelected, mouseout: toggleSelected}">
        <span data-bind="text: name"></span>
    </td>
    <td data-bind="event: { mouseover: toggleSelected, mouseout: toggleSelected}">
        <span data-bind="text: birth"></span>
    </td>
    <td data-bind="event: { mouseover: toggleSelected, mouseout: toggleSelected }">
        <span data-bind="text: death"></span>
    </td>
    <td width="60px" data-bind="event: { mouseover: toggleSelected, mouseout: toggleSelected }">
        <a class="ftpIcon" data-bind="visible: selected() && !canEdit(), click: selectIndividual"><i class="fa fa-search"></i></a>
    </td>
</tr>