<section class="row">
    <section class="col-xs-8 col-sm-6">
        <a href="#" class="thumbnail" data-bind="click: uploadFile">
            <img data-bind="attr: {src: imageUrl}" />
        </a>
    </section>
    <section class="col-xs-8 col-sm-6">
        <h3 data-bind="text: name"></h3>
        <div>
            <p data-bind="text: sex"></p>
            <p data-bind="text: birth"></p>
            <p data-bind="text: death"></p>
        </div>
        <button type="button" class="btn btn-default" data-bind="click: editIndividual">
            <i class="fa fa-pencil"></i>
            <span data-bind="text: resx.editIndividual"></span>
        </button>
    </section>
</section>
<div class="ftpFactsList">
    <div class="ftpSubHeading">
        <span data-bind="text:resx.facts"></span>
    </div>

</div>
<div class="ftpSourcesList">
    <div class="ftpSubHeading">
        <span data-bind="text:resx.sources"></span>
    </div>
</div>

<!-- ko component: {
        name: "editIndividual",
        params: {
            individual: individual,
            isVisible: showEdit,
            dialogTitle: resx.editIndividual,
            message: resx.editIndividualMessage,
            onSuccess: onEdited
        }
    } -->
<!-- /ko -->


<!-- ko component: {
    name: "uploadFile",
    params: {
        isVisible: showUpload,
        title: resx.uploadImage,
        message: resx.uploadImageMessage,
        entityId: imageId,
        onSuccess: onFileUploaded,
        options: {
            fileUploadMethod: 'File/UploadFile',
            extensions: ['png','jpg','gif','jpeg'],
            width: 600,
            height:550
        }
    }
} -->
<!-- /ko -->

