<div class="ftpMenu">
    <ul>
        <li id="tree-menu" class="selected" data-bind="click: selectTreeOverview">
            <div data-bind="text: resx.treeOverView"></div>
        </li>
        <li id="individuals-menu" data-bind="click: selectIndividualList">
            <div data-bind="text: resx.individualList"></div>
        </li>
        <li id="familyGroup-menu" data-bind="click: selectFamilyGroupView, visible: selectedIndividualId() > 0">
            <div data-bind="text: resx.familyGroupView"></div>
        </li>
    </ul>
</div>
