<section id="familyGroupView-panel" class="row">
    <section  class="col-md-8 col-xs-12">
        <!-- ko component: {
                name: "individualDetail",
                params: {
                    individual: individual,
                    refresh: getIndividual
                }
            } -->
        <!-- /ko -->
    </section>
    <section class="col-md-4 col-xs-12 ftp-sideBar">
        <h2 data-bind="text:resx.family"></h2>
        <h3 data-bind="text:resx.parents"></h3>
        <!-- ko component: {
                name: "individualCard",
                params: {
                    individual: father,
                    onSelected: viewIndividual
                }
            } -->
        <!-- /ko -->
        <!-- ko component: {
                name: "individualCard",
                params: {
                    individual: mother,
                    onSelected: viewIndividual
                }
            } -->
        <!-- /ko -->
        <div data-bind="foreach: families">
            <h3 data-bind="text : $parent.resx.spouse, visible : children().length == 0"></h3>
            <h3 data-bind="text : $parent.resx.spouseChildren, visible : children().length > 0"></h3>
            <!-- ko component: {
                    name: "individualCard",
                    params: {
                        individual: spouse,
                        onSelected: $parent.viewIndividual
                    }
                } -->
            <!-- /ko -->
            <div class="ftp-children" data-bind="foreach: children">
                <!-- ko component: {
                name: "individualCard",
                params: {
                    individual: $rawData,
                    onSelected: $parents[1].viewIndividual
                }
            } -->
                <!-- /ko -->
            </div>
        </div>
    </section>
</section>