<section id="treeview-panel" class="row">
    <section class="col-md-8 col-xs-12">
        <h2 data-bind="text: title"></h2>
        <section class="row">
            <section class="col-xs-8 col-sm-6">
                <a href="#" class="thumbnail" data-bind="click: uploadFile">
                    <img data-bind="attr: {src: imageUrl}" />
                </a>
            </section>
            <section class="col-xs-8 col-sm-6">
                <p data-bind="text: description"></p>
                <button type="button" class="btn btn-default" data-bind="click: editTree">
                    <i class="fa fa-pencil"></i>
                    <span data-bind="text: resx.editTree"></span>
                </button>
            </section>
        </section>
    </section>
    <section class="col-md-4 col-xs-12 ftp-sideBar">
        <section>
            <h3>
                <i class="fa fa-home"></i>
                <span data-bind="text:resx.homePerson"></span>
            </h3>
            <div>
                <!-- ko component: {
                        name: "individualLink",
                        params: {
                            individual: homeIndividual,
                            onSelected: viewIndividual,
                        }
                    } -->
                <!-- /ko -->
            </div>
        </section>
        <section>
            <h3>
                <i class="fa fa-eye"></i>
                <span data-bind="text:resx.lastViewed"></span>
            </h3>
            <div>
                <!-- ko component: {
                        name: "individualLink",
                        params: {
                            individual: lastViewedIndividual,
                            onSelected: viewIndividual,
                        }
                    } -->
                <!-- /ko -->
            </div>
        </section>
        <section>
            <h3 data-bind="text:resx.summary"></h3>
            <div class="ftp-summary">
                <div class="ftp-left">
                    <i class="fa fa-user fa-fw"></i>
                    <a data-bind="click: viewIndividuals"><span data-bind="text:resx.individuals"></span></a>
                </div>
                <div class="ftp-right" data-bind="text:individualCount"></div>
            </div>
            <div class="ftp-summary">
                <div class="ftp-left">
                    <i class="fa fa-users fa-fw"></i>
                    <span data-bind="text:resx.families"></span>
                </div>
                <div class="ftp-right" data-bind="text:familyCount"></div>
            </div>
            <div class="ftp-summary">
                <div class="ftp-left">
                    <i class="fa fa-th-list fa-fw"></i>
                    <span data-bind="text:resx.facts"></span>
                </div>
                <div class="ftp-right" data-bind="text:factCount"></div>
            </div>
        </section>
    </section>
</section>

<!-- ko component: {
        name: "editTree",
        params: { 
            treeId: treeId,
            name: name,
            title: title,
            description: description,
            isVisible: showEdit,
            dialogTitle: resx.editTree,
            newTreeId: treeId ,
            onSuccess: onTreeUpdated
        }
    } -->
<!-- /ko -->
<!-- ko component: {
        name: "uploadFile",
        params: { 
            isVisible: showUpload,
            title: resx.uploadImage,
            message: resx.uploadImageMessage,
            entityId: imageId,
            onSuccess: onFileUploaded,
            options: {
                fileUploadMethod: 'File/UploadFile',
                extensions: ['png','jpg','gif','jpeg'],
                width: 600,
                height:550
            }
        }
    } -->
<!-- /ko -->
