/*Bootstrap Overrides*/
.ModFtpFamilyTreeProjectC h1 {
  font-size: 1.5rem;
}
.ModFtpFamilyTreeProjectC h2 {
  font-size: 1.2rem;
}
.ModFtpFamilyTreeProjectC h3 {
  font-size: 1.0rem;
}
.ModFtpFamilyTreeProjectC p {
  font-size: 0.85rem;
}
.ModFtpFamilyTreeProjectC .ftp-left {
  float: left;
}
.ModFtpFamilyTreeProjectC .ftp-right {
  float: right;
}
.ModFtpFamilyTreeProjectC .navbar-default {
  background-color: #f8f8f8;
  margin-right: 50px;
  padding-right: 25px;
}
.ModFtpFamilyTreeProjectC .navbar-default .navbar-brand {
  font-size: 1.4rem;
}
.ModFtpFamilyTreeProjectC #ftp-panels {
  padding-right: 50px;
  padding-left: 15px;
  padding-top: 20px;
}
.ModFtpFamilyTreeProjectC .ftp-sideBar section {
  padding-bottom: 20px;
}
.ModFtpFamilyTreeProjectC .ftp-summary {
  padding-right: 20px;
}
.ModFtpFamilyTreeProjectC .ftp-summary .ftp-left {
  width: 80%;
}
.ModFtpFamilyTreeProjectC .ftp-summary .ftp-right {
  width: 15%;
  text-align: right;
}
.ModFtpFamilyTreeProjectC .ftp-pager {
  width: 100%;
}
.ModFtpFamilyTreeProjectC .ftp-pager select {
  width: auto;
  display: inline-block;
}
.ModFtpFamilyTreeProjectC #individuals-panel > section {
  padding-bottom: 25px;
}
.ModFtpFamilyTreeProjectC .ftp-card {
  height: 40px;
}
.ModFtpFamilyTreeProjectC .ftp-card .col-md-2 {
  padding-right: 0px;
}
.ModFtpFamilyTreeProjectC .ftp-card img {
  height: 36px;
}
.ModFtpFamilyTreeProjectC .ftp-children {
  padding-top: 10px;
  padding-left: 20px;
}