<div class="ftpPanel" id="individuals-panel" data-bind="with: individualList">
    <div id="individuals-listView" class="ftpSubPanel" data-bind="visible: mode() == 'individualsList'">
        <div class="ftpSearchPanel">
            <input type="text" class="ftpSearchBox" data-bind="value: searchText, valueUpdate: 'afterkeydown', attr: { 'placeholder': $root.resx.findIndividual}" />
            <a class="ftpButton right" data-bind="click: addIndividual">[Resx:{key:"AddIndividual"}]</a>
        </div>
    </div>
    <table class="ftpTable">
        <thead>
            <tr>
                <th>[Resx:{key:"Name"}]</th>
                <th>[Resx:{key:"Birth"}]</th>
                <th>[Resx:{key:"Death"}]</th>
                <th width="100px">[Resx:{key:"Actions"}]</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: individuals">
            <tr>
                <td data-bind="event: { mouseover: toggleSelected, mouseout: toggleSelected}">
                    <span data-bind="text: name"></span>
                </td>
                <td data-bind="event: { mouseover: toggleSelected, mouseout: toggleSelected}">
                    <span data-bind="text: birth"></span>
                </td>
                <td data-bind="event: { mouseover: toggleSelected, mouseout: toggleSelected }">
                    <span data-bind="text: death"></span>
                </td>
                <td width="100px" data-bind="event: { mouseover: toggleSelected, mouseout: toggleSelected }">
                    <a class="dccIcon" data-bind="visible: selected() && !canEdit(), click: editIndividual"><i class="fa fa-search"></i></a>
                    <a class="dccIcon" data-bind="visible: selected() && canEdit(), click: editIndividual"><i class="fa fa-pencil"></i></a>
                    <a class="dccIcon" data-bind="visible: selected() && canEdit(), click: deleteIndividual"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <table class="ftpPager">
                        <tr>
                            <td>
                                <span data-bind="text: rootViewModel.resx.individualsPageSize"></span>
                                <select data-bind="value: pageSize, valueAllowUnset: false, options: rootViewModel.pageSizeOptions, optionsText: 'text', optionsValue: 'value'"></select>
                            </td>
                            <td>
                                <div data-bind="html: pagerItemsDescription"></div>
                            </td>
                            <td>
                                <ul class="right pager" data-bind="visible: pagerVisible">
                                    <li><a data-bind="click: prev, attr: { 'class': pagerPrevClass }"></a></li>
                                    <li><a data-bind="click: next, attr: { 'class': pagerNextClass }"></a></li>
                                </ul>
                                <div class="right" data-bind="html: pagerDescription"></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
