<div class="ftpPanel" id="individuals-panel">
    <div id="individuals-listView" class="ftpSubPanel">
        <div class="ftpSearchPanel">
            <input type="text" class="ftpSearchBox" data-bind="value: searchText, valueUpdate: 'afterkeydown', attr: { 'placeholder': resx.findIndividual}" />
            <a class="ftpButton right" data-bind="click: addIndividual, text: resx.addIndividual"></a>
        </div>
    </div>
    <table class="ftpTable">
        <thead>
            <tr>
                <th data-bind="text: resx.name"></th>
                <th data-bind="text: resx.birth"></th>
                <th data-bind="text: resx.death"></th>
                <th width="100px" data-bind="text: resx.actions"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: { data: individuals, as: 'individual'}">
            <!-- ko component: {
                    name: "individualRow",
                    params: {
                        individual: ko.observable(individual),
                        onSelected: $parent.viewIndividual,
                    }
                } -->
            <!-- /ko -->
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <!-- ko component: {
                            name: "pager",
                            params: { pageSize : pageSize,
                                pageIndex: pageIndex,
                                totalResults : totalResults,
                                refresh : refresh 
                            }
                        } -->
                    <!-- /ko -->
                </td>
            </tr>
        </tfoot>
    </table>
</div>
