<section id="individuals-panel">
    <section class="row">
        <section class="col-md-8">
            <input class="form-control" type="text" data-bind="value: searchText, valueUpdate: 'afterkeydown', attr: { 'placeholder': resx.findIndividual}" />
        </section>
        <section class="col-md-4">
            <a class="btn btn-default ftp-right" data-bind="click: addIndividual">
                <i class="fa fa-plus"></i>
                <span data-bind="text: resx.addIndividual"></span>
            </a>
        </section>
    </section>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th data-bind="text: resx.name"></th>
                <th data-bind="text: resx.birth"></th>
                <th data-bind="text: resx.death"></th>
                <th width="60px" data-bind="text: resx.actions"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: { data: individuals, as: 'individual'}">
            <!-- ko component: {
                name: "individualRow",
                params: {
                    individual: ko.observable(individual),
                    onSelected: $parent.viewIndividual,
                    onDeleted: $parent.refresh,
                }
            } -->
            <!-- /ko -->


        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <!-- ko component: {
                        name: "pager",
                        params: { pageSize : pageSize,
                            pageIndex: pageIndex,
                            totalResults : totalResults,
                            refresh : refresh 
                        }
                    } -->
                    <!-- /ko -->
                </td>
            </tr>
        </tfoot>
    </table>
</section>
<!-- ko component: {
    name: "editIndividual",
    params: {
        individualId: ko.observable(-1),
        newIndividualId: selectedIndividualId ,
        treeId: treeId,
        isVisible: showCreate,
        dialogTitle: resx.createIndividual,
        message: resx.createIndividualMessage,
        onSuccess: onIndividualCreated
    }
} -->
<!-- /ko -->
